<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Tweeter</h1>
    <h3>Add a tweet:</h3>
    <form action="/addTweet" method="post">
      
        <label for="" ></label>
        <input type="text"name="Title" >
        <br>
        <br>
        <label for="" ></label>
        <textarea name="Tweet" id=""></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>